#results {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.post-item {
  width: 350px;
  height: 120px;
  border: 1px solid lightskyblue;
  border-radius: 5px;
  padding: 5px 10px;
}

.post-item header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.post-item header .delete {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
  background-color: rgb(237, 66, 66);
  color: white;
  border: 1px solid red;
  border-radius: 4px;
  padding: 3px;
  height: fit-content;
  cursor: pointer;
}
