.TodoApp-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .TodoApp-logo {
    animation: TodoApp-logo-spin infinite 20s linear;
  }
}

.TodoApp-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 200px;
}

.TodoApp-link {
  color: #61dafb;
}

@keyframes TodoApp-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 750px) {
  .TodoApp-header {
    padding: 0 5px;
  }
}
